@model int

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Abheben</h2>

@using (Html.BeginForm("Withdraw", "Home", FormMethod.Post, new { @class = "form" }))
{
    @Html.TextBox("amount", "", new { @class = "form-control" })
    @Html.Hidden("account", Model.ToString())
    <br />
    <input type="submit" value="Abheben" class="btn" />
}